<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h2>Support Dashboard</h2>
    <div>
        <a href="/dashboard">All</a>
        <a href="/dashboard?priority=High">High</a>
        <a href="/dashboard?priority=Medium">Medium</a>
        <a href="/dashboard?priority=Low">Low</a>
    </div>
    <br>
    <form method="GET" action="/dashboard">
        <input type="text" name="search" placeholder="Search tickets...">
        <button type="submit">Search</button>
    </form>
    <a href="/sync-gmail">
        <button>📥 Sync Gmail</button>
    </a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Customer Email</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Intent</th>
            <th>Sentiment</th>
            <th>Priority</th>
        </tr>
        
        {% for ticket in tickets %}
        <tr>
            <td>
                <a href="/ticket/{{ ticket.id }}">Open</a>
            </td>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.customer_email }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.intent }}</td>
            <td>{{ ticket.sentiment }}</td>
            <td>
                {% if ticket.priority == "high" %}
                    <span style="color:red; font-weight:bold;">High</span>
                {% elif ticket.priority == "medium" %}
                    <span style="color:orange;">Medium</span>
                {% else %}
                    <span style="color:green;">Low</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Submit New Ticket</a>
</body>
</html>